{% extends "base.html.twig" %}

{% block title %}Logs
{% endblock %}

{% block content %}


	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">produit modifie</th>
				<th scope="col">quantite modifie</th>
				<th scope="col">prix modifie</th>
			</tr>
		</thead>

		<tbody>
			{% for log in logs %}
				<tr>
					<th scope="row">{{log.id}}</th>
					<td>
						{{log.content_name}}
					</td>
					<td>
						<span>{{log.content_quantity}}</span>
					</td>
					<td>
						{{log.content_price}}€
					</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>


{% endblock %}
