{% extends "base.html.twig" %}

{% block title %}Product
{% endblock %}

{% block content %}


	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">produit:</th>
				<th scope="col">quantite:</th>
				<th scope="col">prix</th>
				<th scope="col">action</th>
			</tr>
		</thead>

		<tbody>
			{% for produit in produits %}
				<tr>
					<th scope="row">{{produit.id}}</th>
					<td>
						{{produit.nom}}
					</td>
					<td>
						{{produit.quantite}}
					</td>
					<td>
						{{produit.prix}}€
					</td>
					<td>
						<button type="button" class="btn btn-danger">Supr</button>
						<button type="button" class="btn btn-primary">Modify</button>
						<button type="button" class="btn btn-success">add10</button>
					</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>


{% endblock %}
