{% extends "base.html.twig" %}
{% block title %}User
{% endblock %}

{% block content %}
	<div class="box">
		<form class="formulaire" action="/user/modifyUserDB" method="post">
			<input type="hidden" name="id" id="id" value="{{user.id}}">
			<div class="nom">
				<label for="nom">name</label>
				<input type="text" name="nom" id="nom" value="{{user.nom}}">
			</div>
			<div class="prenom">
				<label for="prenom">prenom</label>
				<input type="text" name="prenom" id="prenom" value="{{user.prenom}}">
			</div>
			<div class="solde">
				<label for="solde">solde</label>
				<input type="number" name="solde" id="solde" value="{{user.solde}}">
			</div>
			<div>
				<input type="submit">
			</div>
		</form>
	</div>
</div>{% endblock %}
